#bg{
	background-color:#000080;
    height:600px;
}
#pic1,#pic2,#pic3,#pic4{
    display:inline-block;
    width:260px;
    height:400px;
    margin-right:15px;
    margin-top:45px;
    perspective:800px;
    transform-style:preserve-3d;
    transition:transform 2s;
}
#pic1{
	margin-left:55px;
}
#front1,#front2,#front3,#front4{
	width:260px;
	height:400px;
	margin:0px;
	background-size:100% 100%;
	background-repeat:no-repeat;
	backface-visibility:hidden;
	z-index:1;
}
#front1{background-image:url(image/tigger.jpg);}
#front2{background-image:url(image/cow.jpg);}
#front3{background-image:url(image/sheep.jpg);}
#front4{background-image:url(image/slow.jpg);}
#back{
	width:260px;
	height:400px;
	position:absolute;
	top:0;
	left:0;
	background-color:orange;
	transform:rotateY(180deg);
    transform-style:preserve-3d;
	backface-visibility:hidden;
    z-index:-1;
    
}
p{
	font-size:18px;
    color:white; 
    font-weight:bold;
    text-align:center;
}
#pic1:hover,#pic2:hover,#pic3:hover,#pic4:hover{
	transform:rotateY(180deg);
}


