        body{padding-top:51px;}
		.carousel,.carousel .item{
			height:510px;
			background-color:black;
		}
		.carousel img{width:100%;}
		.carousel-caption p{
			margin-bottom:20px;
			font-size:20px;
			line-height:1.8;
		}
        .btn-lg:hover{
            background-color: #3276b1;
            border-color: #285e8e;
        }
		.container .row{
			margin:100px auto;
            text-align:center;
		}
        .row .btn{
            color:black;
            background-color:white;
            border:#ccc solid 1px;
        }
        .row .btn:hover{
            color: #333;
            background-color: #ebebeb;
            border-color: #adadad;
        }
        .tab{margin-top:50px;}
        .tab-content .feature-heading{
            color:#2a6496;
            font-size:50px;
            margin-top:120px;
        }
        .text-muted{font-size:28px;}
        .feature{padding:30px 0;}
        .col-md-5 img{margin-bottom:40px;}
        footer{padding:40px 30px;}
